<main>
  <section>
    <div class="headerText">
      <h1>About Efe - Clean</h1>
    </div>

    <div class="mainContent">
      <h3>
        რამე ინფორმაცია კომპანიის შესახებ როგორ დაარსდა სად დაარსდა რამდენ
        წლიანი გამოცდილება აქვთ როგორ წმინდავენ რას იყენებენ მაქსიმალურად დიდი
        ინფორმაცია
      </h3>
    </div>

    <div class="footerContnet">
      <h3>
        ქვედა ინფორმაცია სადაც ფასები ადგილები სადაც სერვისი მუშაობს და მისვლა
        შეულიათ მასეთი ინფორმაცია
      </h3>
    </div>
  </section>
</main>
