<main>
  <section class="mainHeader">
    <div class="textSection">
      <h2>Efe - clean</h2>
      <p>
        Welcome to Efe-Clean! We provide top-quality cleaning services for homes
        and offices. Our dedicated team ensures every corner shines. Experience
        the Efe-Clean difference today - where cleanliness meets excellence!
        Contact us now for a sparkling space.
      </p>
    </div>
    <div class="logoSection">
      <img src="assets/efeLogo.jpg" alt="logo" />
    </div>
  </section>

  <section class="aboutSection" id="about">
    <div class="title">
      <h1>Little About US</h1>
    </div>
    <div class="showCase">
      <h3>
        <span style="color: red">პატარა ფასები აქ</span>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum
        amet delectus cum dolorem cumque repellendus voluptate eligendi labore
        in tenetur officia, culpa sit nihil qui sapiente sed deleniti veritatis!
      </h3>
      <h3>
        <span style="color: red">ლოკაცია </span>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum
        amet delectus cum dolorem cumque repellendus voluptate eligendi labore
        in tenetur officia, culpa sit nihil qui sapiente sed deleniti veritatis!
      </h3>
      <h3>
        <span style="color: red">კომპანიის შესახებ</span>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum
        amet delectus cum dolorem cumque repellendus voluptate eligendi labore
        in tenetur officia, culpa sit nihil qui sapiente sed deleniti veritatis!
      </h3>
    </div>
  </section>

  <section class="offer">
    <div class="container">
      <div class="header">
        <h1>What We offer?</h1>
      </div>
      <div class="offersContainer">
        <ul>
          <li>
            <p>Cleaning Floor</p>
          </li>
          <li>
            <p>Cleaning Windows</p>
          </li>
          <li>
            <p>Cleaning Tables/sofas</p>
          </li>
          <li>
            <p>Cleaning General toilet</p>
          </li>
          <li>
            <p>Cleaning Building maintenance</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="photosContainer">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <img src="assets/image2.jpg" alt="" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/image2.jpg" alt="" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/image3.jpg" alt="" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/image4.jpg" alt="" />
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</main>
