main {
  width: 100%;
  height: 100%;
  .mainHeader {
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7fa8e2;

    .textSection {
      color: ghostwhite;
      font-size: 1.1rem;
      width: 320px;
      max-width: 320px;

      h1 {
        font-size: 4rem;
        color: ghostwhite;
      }

      p {
        font-size: 1.4rem;
        line-height: 1.55rem;
      }
    }

    .logoSection {
      width: 320px;
      max-width: 320px;
      display: flex;
      justify-content: left;
      img {
        border-radius: 150%;
        width: 100%;
        max-width: 400px;
      }
    }
  }

  .aboutSection {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    .showCase {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      gap: 30px;

      p {
        width: 320px;
        max-width: 320px;
      }

      img {
        border-radius: 4px;
        width: 300px;
        height: 300px;
      }
    }
  }

  .offer {
    .container {
      .header {
        display: flex;
        justify-content: center;
        font-weight: 500;
      }

      .offersContainer {
        ul {
          li {
            p {
              font-size: 26px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .photosContainer {
    padding-top: 50px;
    text-align: center;

    h1 {
      font-size: 40px;
      color: cadetblue;
    }
    mat-grid-list {
      mat-grid-tile {
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  main {
    .mainHeader {
      .logoSection {
        img {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  main {
    .aboutSection {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 104%;

      .showCase {
        display: grid;
      }
    }

    .offer {
      padding-top: 104%;
    }
  }
}

@media (max-width: 425px) {
  main {
    .aboutSection {
      padding-top: 105%;
    }

    .offer {
      padding-top: 105%;
    }
  }
}

@media (max-width: 375px) {
  main {
    .aboutSection {
      padding-top: 105%;
    }

    .offer {
      padding-top: 105%;
    }
  }
}
