main {
  width: 100%;
  height: 100%;
  .mainHeader {
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7fa8e2;

    .textSection {
      color: ghostwhite;
      font-size: 1.1rem;
      width: 350px;
      max-width: 350px;

      h2 {
        color: ghostwhite;
      }
    }

    .logoSection {
      img {
        border-radius: 3.5px;
        width: 200px;
        height: 200px;
      }
    }
  }

  .aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    .text {
      width: 100%;
      p {
        width: 575px;
      }
    }
  }
}
