main {
  padding-top: 100px;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .formSection {
      form {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
