main {
  padding-top: 100px;

  .formSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text {
      text-align: center;
    }
    .wrapper {
      .example-form {
        display: flex;
        flex-direction: column;
        width: 500px;

        input {
          width: 500px;
        }
      }
    }
  }
}
