<main>
  <section class="formSection">
    <div class="text">
      <h1>We are glad to see you</h1>
      <h3>Send us your application we will answer you soon</h3>
    </div>
    <div class="wrapper">
      <form
        class="example-form"
        [formGroup]="signUpForm"
        (submit)="emailService($event)"
      >
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Your Name"
            [formGroup]="signUpForm"
            formControlName="firstName"
          />
          @if (signUpForm.get("firstName")?.hasError("required")) {
          <mat-error>Name is <strong>required</strong></mat-error>
          } @if (signUpForm.get("firstName")?.hasError("minLength")) {
          <mat-error>Please enter more then 2 characters</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Enter your email"
            [formGroup]="signUpForm"
            formControlName="email"
          />
          @if (signUpForm.get("email")?.hasError("required")) {
          <mat-error>Email is <strong>required</strong></mat-error>
          } @if (signUpForm.get("email")?.hasError("email")) {
          <mat-error>Please enter a valid email address</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matTextPrefix>+33 &nbsp;</span>
          <input
            type="tel"
            matInput
            placeholder="6-12-34-56-78"
            [formGroup]="signUpForm"
            formControlName="phone"
          />
          <mat-icon matSuffix>mode_edit</mat-icon>
          @if (signUpForm.get("phone")?.hasError("required")) {
          <mat-error>Phone is <strong>required</strong></mat-error>
          } @if (signUpForm.get("phone")?.hasError("minLength")) {
          <mat-error>Please enter more then 2 characters</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Give us some info</mat-label>
          <textarea
            matInput
            placeholder="Provide info about your place"
            [formGroup]="signUpForm"
            formControlName="description"
          ></textarea>
          @if (signUpForm.get("description")?.hasError("required")) {
          <mat-error>Please provide some info about your place</mat-error>
          }
        </mat-form-field>
        <input type="submit" value="Send" />
      </form>
    </div>
  </section>
</main>
